<div class="table-responsive">
  <table class="table table-vcenter card-table table-hover">
    <thead>
      <tr>
        <% collection_presenter.attribute_types.each do |attr_name, attr_type| %>
          <th scope="col"
              aria-sort="<%= sort_order(collection_presenter.ordered_html_class(attr_name)) %>">
            <%= link_to(sanitized_order_params(page, collection_field_name).merge(
              collection_presenter.order_params_for(attr_name, key: collection_field_name)
            )) do %>
              <%= t(
                "helpers.label.#{collection_presenter.resource_name}.#{attr_name}",
                default: resource_class.human_attribute_name(attr_name).titleize,
              ) %>
              <% if collection_presenter.ordered_by?(attr_name) %>
                <span class="ms-1 text-secondary">
                  <% if collection_presenter.ordered_html_class(attr_name) == "asc" %>
                    <i class="ti ti-sort-ascending-2"></i>
                  <% else %>
                    <i class="ti ti-sort-descending-2"></i>
                  <% end %>
                </span>
              <% end %>
            <% end %>
          </th>
        <% end %>
        <%= render(
          "collection_header_actions",
          collection_presenter: collection_presenter,
          page: page,
          resources: resources,
        ) %>
      </tr>
    </thead>
    <tbody>
      <% resources.each do |resource| %>
        <tr>
          <% collection_presenter.attributes_for(resource).each do |attribute| %>
            <td>
              <% if accessible_action?(resource, :show) %>
                <a href="<%= polymorphic_path([namespace, resource]) %>" class="text-reset">
                  <%= render_field attribute %>
                </a>
              <% else %>
                <%= render_field attribute %>
              <% end %>
            </td>
          <% end %>
          <%= render(
            "collection_item_actions",
            collection_presenter: collection_presenter,
            collection_field_name: collection_field_name,
            page: page,
            namespace: namespace,
            resource: resource,
          ) %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
